@import '../colors';

.PaymentInfo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: background-color .15s ease 0s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 13px;
  font-weight: 500;
  color: var(--color-primary);
  text-transform: uppercase;
}

.PaymentInfo-header-cell {
  display: flex;
  padding: 6px 20px;
}

.PaymentInfo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: background-color .15s ease 0s;
  font-weight: 400;
  color: var(--color-text-1);
}

.PaymentInfo-content-cell {
  display: flex;
  align-items: center;
  padding: 12px 20px;
}
